<div class="container">
  <h2><i class="fas fa-thumbs-up"></i><i class="fas fa-list fa-1x"></i>Favorites:</h2>
  <div class="pic-container row">
    <% for post in @posts %>
      <div class="col-md-12 content">
        <br>
        <br>
        <% if post.image && post.image.url %>
          <%= image_tag post.image.url, width:"300"%>
          <br>
          <br>
          <i class="far fa-comment-dots fa-lg"></i><%= post.content %>
        <% end %>
        <br>
        <br>
      </div>
    <% end %>
      <br>
      <br>
      <%= link_to posts_path, title: "back" do %>
        <i class="fas fa-backspace fa-lg"></i>
    <% end %>
  </div>
</div>
